---
- name: SSH configuration tasks
  tags: [ssh]
  block:
    - name: Include SSH configuration tasks
      when: not ssh_server_disabled
      ansible.builtin.include_tasks:
        file: ssh.yml

    - name: Ensure openssh-server is NOT installed
      when: ssh_server_disabled
      ansible.builtin.package:
        name: "openssh-server"
        state: "absent"

    - name: SSH role completed
      ansible.builtin.assert:
        that: true
        quiet: true
