---
- name: Configure unix groups
  ansible.builtin.group:
    name: "{{ item.key }}"
    system: "{{ item.value.system | default(omit) }}"
    gid: "{{ item.value.gid | default(omit) }}"
    state: "{{ item.value.state | default('present') }}"
  with_dict: "{{ ssh_unix_groups }}"

- name: Allow passwordless sudo for the specified groups
  ansible.builtin.copy:
    content: |
      {% for group in ssh_sudo_nopasswd_groups %}
      %{{ group }} ALL=(ALL) NOPASSWD: ALL
      {% endfor %}
    dest: "/etc/sudoers.d/nopasswd_groups"
    owner: "root"
    mode: "0440"
  when: ssh_sudo_nopasswd_groups

- name: Configure unix users
  ansible.builtin.user:
    name: "{{ item.key }}"
    group: "{{ item.value.group | default(omit) }}"
    groups: "{{ item.value.groups | default(omit) }}"
    password: "{{ item.value.password | default(omit) }}"
    shell: "{{ item.value.shell | default(omit) }}"
    home: "{{ item.value.home | default(omit) }}"
    system: "{{ item.value.system | default(omit) }}"
    uid: "{{ item.value.uid | default(omit) }}"
    state: "{{ item.value.state | default('present') }}"
  with_dict: "{{ ssh_unix_users }}"

# root is handled in oszi.general.shell, which is a dependency.
- name: Enforce /etc/skel config files
  tags: [shell]
  ansible.builtin.include_tasks:
    file: user-skel.yml
    apply:
      become: true
      become_user: "{{ user_item.key }}"
      tags: [shell]
  when: "ssh_etc_skel_enforced
    and user_item.key != 'root'
    and not user_item.value.system | default(false)
    and user_item.value.home | default('') != '/'"
  with_dict: "{{ ssh_unix_users }}"
  loop_control:
    loop_var: user_item
