---
# Podman config paths
podman_config_containers_path: "/etc/containers/containers.conf"
podman_config_policy_path: "/etc/containers/policy.json"
podman_config_toolbox_path: "/etc/containers/toolbox.conf"

# Podman toolbox package - containertoolbx.org
podman_toolbox_package: "{{ (ansible_facts.os_family == 'RedHat') | ternary('toolbox', 'podman-toolbox') }}"
