# ansible managed
[user]
name = {{ dotfiles_git_user_name }}
email = {{ dotfiles_git_user_email }}
{% if dotfiles_git_user_signingkey is not none %}
signingkey = {{ dotfiles_git_user_signingkey }}

[commit]
gpgSign = true
{% if dotfiles_git_user_signingkey.startswith('ssh') or '.ssh/' in dotfiles_git_user_signingkey %}

[gpg]
format = ssh
{% endif %}
{% endif %}

[core]
{% if dotfiles_git_editor is not none %}
editor = {{ dotfiles_git_editor }}
{% endif %}
excludesfile = ~/.gitignore

[push]
default = simple
autoSetupRemote = true
followTags = true

[pull]
rebase = true

[fetch]
prune = true
pruneTags = false
all = true

[branch]
sort = -committerdate

[tag]
sort = version:refname

[column]
ui = auto

[diff]
algorithm = histogram
colorMoved = plain
mnemonicPrefix = true
renames = true

[merge]
conflictstyle = zdiff3

[rebase]
autoSquash = true
autoStash = true
updateRefs = true

[rerere]
enabled = true
autoupdate = true

[http]
cookiefile = ~/.gitcookies
{% if gcloud_sdk_enabled | default(false) %}

[credential "https://source.developers.google.com"]
helper = gcloud
{% endif %}
{% if dotfiles_git_config_extra %}

{{ dotfiles_git_config_extra }}
{% endif %}
