---
# Skip setup of python3-devel, setuptools, pip, pipx, and virtualenv?
python_disabled: false

# List of arguments to manage python packages with ansible.builtin.pip:
# Pip should be present in python_devel_distro_packages.
python_pip_list: []

# List of arguments to manage python packages with community.general.pipx:
# Pipx should be present in python_devel_distro_packages.
python_pipx_list: []

# Ensure python_distro_packages and python_devel_distro_packages are installed?
# Disable for running on immutable systems, or without root.
python_install_distro_packages: "{{ ansible_facts.user_uid | int == 0 }}"

# Nested list of python distro packages to install:
# * These defaults must exist/redirect on RedHat and Debian too.
# * See also: ansible-collections/requirements.txt
python_distro_packages:
  - python3-cryptography
  - python3-jmespath
  - python3-netaddr
  - python3-psutil
  - python3-requests
  - python3-yaml

# Nested list of distro packages for python3 development:
# Avoid overriding from the inventory.
python_devel_distro_packages:
  - "{{ [
      'python3-devel',
      'python3-pip',
      'gcc',
      'gcc-c++',
      'make',
      'redhat-rpm-config',
    ]
    if (ansible_facts.os_family == 'RedHat') else [] }}"
  - "{{ [
      'python3-dev',
      'python3-venv',
      'build-essential',
    ]
    if (ansible_facts.os_family == 'Debian') else [] }}"
  - "pipx"
  - "python3-setuptools"
  - "python3-virtualenv"
