---
# List of groups as dictionaries for ansible.builtin.group:
# Combine variables in the inventory to build the final list of groups:
# {{ inventory_groups_all | combine(inventory_groups_..., ..., recursive=true)
#   | oszi.general.nested_dict_to_list('name') }}
users_groups_list: "{{ users_groups | default({}) | oszi.general.nested_dict_to_list('name') }}"

# List of users as dictionaries for ansible.builtin.user:
# Combine variables in the inventory to build the final list of users:
# {{ inventory_users_all | combine(inventory_users_..., ..., list_merge='append_rp', recursive=true)
#   | oszi.general.nested_dict_to_list('name') }}
users_list: "{{ users_users | default({}) | oszi.general.nested_dict_to_list('name') }}"

# Allow passwordless sudo for these groups (list):
users_sudo_nopasswd_groups: []
