---
# Skip podman setup tasks and uninstall podman?
podman_disabled: false
# Ensure configured packages are installed or uninstalled (see below)?
# Disable for running on immutable systems, or without root.
podman_install_system: "{{ ansible_facts.user_uid | int == 0 }}"

# [Un]Install podman-compose (rootless, daemonless)?
podman_compose_enabled: "{{ not podman_disabled }}"
# [Un]Install toolbox - containertoolbx.org?
podman_toolbox_enabled: "{{ not podman_disabled and not flatpak_disabled | default(false) }}"
# Emulate docker using podman-docker?
podman_docker_enabled: "{{ not podman_disabled }}"
# Install docker-compose to be used with podman-docker? HERE BE DRAGONS!
# * For rootless mode set DOCKER_HOST to unix://${XDG_RUNTIME_DIR}/podman/podman.sock
# * Prefer to use a virtual env instead of the distro package.
podman_docker_compose_enabled: false

# Path for local executables when running as root
podman_local_bin_path: "{{ local_bin_path | default('/usr/local/bin', true) }}"

# Override the graphroot from podman_graphroot_default:
podman_graphroot: ""
# Contents of policy.json in YAML/JSON format.
podman_config_policy: {}
# Contents of containers.conf
podman_config_containers: ""
# Contents of registries.conf
podman_config_registries: ""
# Contents of mounts.conf
podman_config_mounts: ""
# Contents of toolbox.conf
podman_config_toolbox: ""

# Prefer using oszi.general.podman_quadlets and oszi.general.podman_kube
# instead of the following ansible-native deployments.

# List of podman networks as dictionaries for containers.podman.podman_network:
# Set recreate: true to force apply changes.
podman_networks_list: "{{ podman_networks | oszi.utils.nested_dict_to_list('name') }}"
# List of podman images as dictionaries for containers.podman.podman_image:
podman_images_list: "{{ podman_images }}"
# List of podman containers as dictionaries for containers.podman.podman_container:
podman_containers_list: "{{ podman_containers | oszi.utils.nested_dict_to_list('name') }}"
# List of podman pods as dictionaries for containers.podman.podman_pod:
podman_pods_list: "{{ podman_pods | oszi.utils.nested_dict_to_list('name') }}"

# XXX: Deprecated, backwards-compatible variables.
podman_networks: {}
podman_images: []
podman_containers: {}
podman_pods: {}
