---
# Assume established connections and default SSH are accepted by default
# and ansible is reusing SSH connections thus these tasks are non-destructive
# whether SSHD is running on an alternate port already or not.

- name: Ensure conflicting firewalls are not installed
  ansible.builtin.package:
    name:
      # Fedora/EL
      - "iptables-services"
      # Debian/Ubuntu
      - "iptables-persistent"
      - "ufw"
    state: "absent"
  notify: "Restart firewalld"

- name: Install firewalld daemon
  ansible.builtin.package:
    name: "firewalld"
    state: "present"
  notify: "Restart firewalld"

- name: Set firewall backend to {{ firewalld_backend }}
  when: firewalld_backend is truthy
  ansible.builtin.lineinfile:
    dest: "/etc/firewalld/firewalld.conf"
    line: "FirewallBackend={{ firewalld_backend }}"
    regexp: '^#?\s*FirewallBackend='
    state: "present"
  notify: "Restart firewalld"

- name: Set firewalld default zone to {{ firewalld_default_zone }}
  when: firewalld_default_zone is truthy
  ansible.builtin.lineinfile:
    dest: "/etc/firewalld/firewalld.conf"
    line: "DefaultZone={{ firewalld_default_zone }}"
    regexp: '^#?\s*DefaultZone='
    state: "present"
  notify: "Restart firewalld"

- name: Run handlers immediately
  ansible.builtin.meta: flush_handlers

- name: Ensure firewalld is started
  ansible.builtin.systemd:
    name: "firewalld"
    state: "started"
    enabled: true

- name: Enable alternate SSH port in the default zone
  when: "ssh_port | default(22) | int != 22"
  ansible.posix.firewalld:
    port: "{{ ssh_port }}/tcp"
    state: "enabled"
    permanent: true
    immediate: true

- name: Configure pre-defined firewalld zones
  with_items: "{{ firewalld_zones }}"
  ansible.posix.firewalld:
    interface: "{{ item.interface | default(omit) }}"
    source: "{{ item.source | default(omit) }}"
    masquerade: "{{ item.masquerade | default(omit) }}"
    zone: "{{ item.zone | default(firewalld_default_zone) }}"
    state: "{{ item.state | default('enabled') }}"
    permanent: "{{ firewalld_permanent }}"
    immediate: true

- name: Enable pre-defined rich rules in firewalld
  with_items: "{{ firewalld_rich_rules }}"
  ansible.posix.firewalld:
    rich_rule: "{{ item.rule if item is mapping else item }}"
    zone: "{{ item.zone | default(firewalld_default_zone) }}"
    state: "{{ item.state | default('enabled') }}"
    permanent: "{{ firewalld_permanent }}"
    immediate: true

- name: Enable pre-defined services in firewalld
  with_items: "{{ firewalld_services }}"
  ansible.posix.firewalld:
    service: "{{ item.service if item is mapping else item }}"
    zone: "{{ item.zone | default(firewalld_default_zone) }}"
    state: "{{ item.state | default('enabled') }}"
    permanent: "{{ firewalld_permanent }}"
    immediate: true

- name: Enable pre-defined ports in firewalld
  with_items: "{{ firewalld_ports }}"
  ansible.posix.firewalld:
    port: "{{ item.port if item is mapping else item }}"
    zone: "{{ item.zone | default(firewalld_default_zone) }}"
    state: "{{ item.state | default('enabled') }}"
    permanent: "{{ firewalld_permanent }}"
    immediate: true

- name: Set up pre-defined direct rules in firewalld
  with_items: "{{ firewalld_direct_rules }}"
  ansible.builtin.shell: |-
    set -euo pipefail
    /usr/bin/firewall-cmd --direct --add-rule {{ item }}
    {% if firewalld_permanent %}
    /usr/bin/firewall-cmd --permanent --direct --add-rule {{ item }}
    {% endif %}
  args:
    executable: "/bin/bash"
  register: _firewalld_direct_rules_result
  changed_when: "'ALREADY_ENABLED' not in _firewalld_direct_rules_result.stderr"
