---
- name: Podman setup tasks
  tags: [podman]
  block:
    - name: Include podman setup tasks
      when: not podman_disabled
      ansible.builtin.include_tasks:
        file: podman.yml

    - name: Include podman deployment tasks
      when: not podman_disabled
      ansible.builtin.include_tasks:
        file: deploy.yml

    - name: Include podman uninstall tasks
      when: podman_disabled
      ansible.builtin.include_tasks:
        file: uninstall.yml
