#!/bin/sh
# {{ ansible_managed }}
# shrc for POSIX-compatible shells
# shellcheck shell=sh disable=SC1090 # non-constant source
# shellcheck disable=SC3009 # in POSIX brace expansion is undefined

case $- in
    *i*) ;;
      *) return ;;
esac

source_glob() {
    for rc do
        if [ -r "$rc" ]; then
            . "$rc"
        fi
    done
    unset rc
}

source_glob_sort() {
    IFS='
'
    # shellcheck disable=SC2046 # word splitting
    set -- $(printf '%s\n' "$@" | sort -u)
    unset IFS
    source_glob "$@"
}

if [ -n "${BASH_VERSION-}" ] && [ -z "${POSIXLY_CORRECT-}" ]; then
    source_glob_sort {{ shell_shrc_d_quoted_path }}/*.{sh,bash}
    return
fi

if [ -n "${ZSH_VERSION-}" ] && [ "$(emulate)" = "zsh" ]; then
    source_glob_sort {{ shell_shrc_d_quoted_path }}/*.{sh,zsh}
    return
fi

source_glob {{ shell_shrc_d_quoted_path }}/*.sh
