root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{tf,hcl,yaml,yml,xml}{,.j2,_,~}]
indent_style = space
indent_size = 2

[{Makefile,*.mk,*.go,.git*}{,.j2,_,~}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
