# Ignore galaxy-installed collections!
/ansible_collections/*/
!/ansible_collections/oszi/

### General ###
*~
*.bak
*.orig
*.tmp
.*cache/
.~*

### Ansible ###
*.retry
.ansible/
.vagrant/

### Terraform ###
*.tfstate*
.terraform/

### Python ###
__pycache__/
*.py[cod]
*.venv/
venv/

### Editors ###
*.sw[op]
*.iml
*.ipr
*.iws
.idea/
.*project
.settings/
.vscode/
.\#*
\#*\#

### OSX ###
.DS_Store
._*
