
### General ###
*~
*.bak
*.orig
*.tmp
.*[Cc]ache*
.~*

### Ansible/Terraform ###
*.retry
*.tfstate*
.ansible/
.terraform/
.vagrant/

### Python ###
__pycache__/
*.py[cod]
*venv/

### Editors ###
*.sw[op]
*.iml
*.ipr
*.iws
.idea/
.vscode/
