---
argument_specs:
  main:
    short_description: Fact gathering utility role
    description:
      - Configurable fact gathering role to use as role dependencies
      - Use one subset per dependency to take advantage of dependency deduplication
      - Compatible with implicit gathering, including `all` subset
    author:
      - "David O. (oszi.dev)"
    options: &options
      facts_subset:
        description:
          - List of explicit gather subsets for M(ansible.builtin.setup)
          - Implies `!all` and `!min` unless explicitly specified, use `all` and `min` explicitly
          - Avoid more specific subsets instead of `min` in role dependencies to avoid exploding the number of dependencies
          - With implicit gathering, if not `all`, set the same subset as default
          - Default is `min` and `virtual`
        type: list
        elements: str
        required: false
        choices:
          # Special subsets
          # See https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/setup.py
          - all
          - min
          # Known subsets with overlaps
          # See https://github.com/ansible/ansible/tree/devel/lib/ansible/module_utils/facts
          - all_ipv4_addresses
          - all_ipv6_addresses
          - apparmor
          - architecture
          - caps
          - chroot
          - cmdline
          - date_time
          - default_ipv4
          - default_ipv6
          - devices
          - distribution
          - distribution_major_version
          - distribution_release
          - distribution_version
          - dns
          - effective_group_ids
          - effective_user_id
          - env
          - facter
          - fips
          - hardware
          - interfaces
          - is_chroot
          - iscsi
          - kernel
          - local
          - lsb
          - machine
          - machine_id
          - mounts
          - network
          - ohai
          - os_family
          - pkg_mgr
          - platform
          - processor
          - processor_cores
          - processor_count
          - python
          - python_version
          - real_user_id
          - selinux
          - service_mgr
          - ssh_host_key_dsa_public
          - ssh_host_key_ecdsa_public
          - ssh_host_key_ed25519_public
          - ssh_host_key_rsa_public
          - ssh_host_pub_keys
          - ssh_pub_keys
          - system
          - system_capabilities
          - system_capabilities_enforced
          - systemd
          - user
          - user_dir
          - user_gecos
          - user_gid
          - user_id
          - user_shell
          - user_uid
          - virtual
          - virtualization_role
          - virtualization_type

      facts_filter:
        description:
          - If supplied, only return facts that match one of the shell-style (fnmatch) patterns
          - Avoid if possible, disables caching and complicates dependency deduplication
          - Patterns must not return `gather_subset` to avoid cache confusion
        type: list
        elements: str
        required: false

      facts_path:
        description:
          - Path used for local ansible facts - results are added to `ansible_local` facts
          - .fact files in this directory will be run if executable, or read in JSON or INI-format if not
          - Ansible default is /etc/ansible/facts.d
        type: path
        required: false

      facts_timeout:
        description:
          - Sets the default timeout in seconds for individual fact gathering
        type: int
        required: false
        default: 10

  facts:
    short_description: Direct entrypoint for fact gathering
    description:
      - Does not apply `always` or any other tag, unlike entrypoint `main`
    options:
      <<: *options
