---
# include_role: name=oszi.general.snap tasks_from=update
# See oszi/general/playbooks/update.yml

- name: Update snap packages
  ansible.builtin.shell: |
    set -euo pipefail
    if snap --version >/dev/null 2>&1; then
      snap refresh
    fi
  args:
    executable: "/bin/bash"
  register: _snap_refresh_result
  changed_when: "'refreshed' in _snap_refresh_result.stdout"
