---
# See also: environments/roles/workstation/default/main/packages.yml
# and general/roles/shell/default/main.yml

# Nested list of packages to install on toolboxes:
toolbox_packages:
  - "{{ toolbox_packages_pt_default }}"
  - "{{ toolbox_packages_pt_ansible }}"

# Fedora/Debian/Ubuntu defaults to include in toolbox_packages:
toolbox_packages_pt_default:
  - "{{ [
      'bind-utils',
      'ddrescue',
      'device-mapper',
      'dnf-plugins-core',
      'dnf-utils',
      'fpaste',
      'fuse-sshfs',
      'gcc-c++',
      'git-subtree',
      'glibc-devel.*',
      'hddtemp',
      'httpd-tools',
      'iproute',
      'iptables-legacy',
      'iptables-nft',
      'iputils',
      'libstdc++-devel.*',
      'lm_sensors',
      'nmap-ncat',
      'perl-Image-ExifTool',
      'procps-ng',
      'python3-dnf-plugin-system-upgrade',
      'redhat-rpm-config',
      'shyaml',
      'sqlite',
      'vim-enhanced',
      'vim-minimal',
      'which',
      'xz',
    ]
    if (ansible_facts.os_family == 'RedHat') else [] }}"
  - "{{ [
      'apache2-utils',
      'bind9-utils',
      'build-essential',
      'g++',
      'gddrescue',
      'iproute2',
      'iptables',
      'iputils-*',
      'libc6-dev',
      'libimage-exiftool-perl',
      'libstdc++-*-dev',
      'lm-sensors',
      'netcat-openbsd',
      'procps',
      'sqlite3',
      'sshfs',
      'vim',
      'xz-utils',
    ]
    if (ansible_facts.os_family == 'Debian') else [] }}"
  # [All distributions]
  - atop
  - autoconf
  - automake
  - binwalk
  - blktrace
  - borgbackup
  - bridge-utils
  - brotli
  - btrfs-progs
  - bzip2
  - checksec
  - curl
  - dnsenum
  - duperemove
  - e2fsprogs
  - ethtool
  - exfatprogs
  - file
  - findutils
  - fzf
  - gawk
  - gcc
  - git
  - gnupg
  - grep
  - hdparm
  - hexedit
  - hostname
  - htop
  - httpie
  - hwloc
  - iftop
  - inotify-tools
  - iotop
  - iperf3
  - irssi
  - jq
  - less
  - lftp
  - libtool
  - libxml2
  - lshw
  - lsof
  - ltrace
  - m4
  - make
  - mediainfo
  - nano
  - net-tools
  - netsniff-ng
  - nftables
  - nmap
  - numactl
  - openssl
  - p7zip
  - passwd
  - patch
  - perl
  - pinentry-tty
  - psmisc
  - pv
  - rclone
  - ripgrep
  - rsync
  - shellcheck
  - smartmontools
  - socat
  - speedtest-cli
  - sslscan
  - sslsplit
  - strace
  - stunnel
  - subnetcalc
  - sudo
  - sysstat
  - tar
  - tcpdump
  - tcpreplay
  - telnet
  - testdisk
  - traceroute
  - tree
  - unar
  - unzip
  - util-linux
  - wget
  - whois
  - xfsprogs
  - zip

# Fedora/Debian/Ubuntu ansible packages to include in toolbox_packages
# or toolbox_blacklisted_packages to remove distribution packaged ansible:
toolbox_packages_pt_ansible:
  - "{{ [
      'ansible-collection-ansible-netcommon',
      'ansible-collection-ansible-posix',
      'ansible-collection-ansible-utils',
      'ansible-collection-community-crypto',
      'ansible-collection-community-general',
      'ansible-collection-community-libvirt',
      'ansible-collection-containers-podman',
    ]
    if (ansible_facts.distribution == 'Fedora') else [] }}"
  - "{{ [
      'ansible-core-doc',
      'python3-ansible-lint',
    ]
    if (ansible_facts.os_family == 'RedHat')
    else [
      'ansible-lint',
    ] }}"
  - ansible
  - ansible-core
  - python3-ansible-compat

# Packages to remove from toolboxes (Fedora/Debian/Ubuntu)
toolbox_blacklisted_packages: []
