---
- name: Assert that acme_dns_provider is valid
  ansible.builtin.assert:
    that: "acme_dns_provider in ['cloudflare', 'route53']"

- name: Ensure python3-cryptography is present
  when: acme_install_python3_cryptography
  ansible.builtin.package:
    name: "python3-cryptography"
    state: "present"

- name: Ensure directory for ACME account key exists
  ansible.builtin.file:
    path: "{{ acme_account_key_path | dirname }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"

- name: Create ACME account key
  community.crypto.openssl_privatekey:
    select_crypto_backend: "cryptography"
    path: "{{ acme_account_key_path }}"
    passphrase: "{{ acme_account_key_passphrase }}"
    cipher: "auto"
    owner: "root"
    group: "root"
    mode: "0640"

- name: Include ACME certificate tasks
  ansible.builtin.include_tasks:
    file: acme-certificate.yml
  loop: "{{ acme_certificates }}"
  loop_control:
    loop_var: acme_certificate_item

- name: Include ACME revoke tasks
  ansible.builtin.include_tasks:
    file: acme-revoke.yml
  loop: "{{ acme_revoke_paths }}"
  loop_control:
    loop_var: acme_revoke_item
