---
# Do not set owner/group to use ansible_user or root!

- name: Ensure python3-cryptography is present
  when: acme_install_python3_cryptography
  ansible.builtin.package:
    name: "python3-cryptography"
    state: "present"

- name: Ensure directory for ACME account key exists
  ansible.builtin.file:
    path: "{{ acme_account_key_path | dirname }}"
    state: "directory"
    mode: "0755"

# Private keys are never logged, no need for no_log: true.
- name: Create ACME account key
  community.crypto.openssl_privatekey:
    select_crypto_backend: "cryptography"
    path: "{{ acme_account_key_path }}"
    passphrase: "{{ acme_account_key_passphrase }}"
    cipher: "auto"
    mode: "0640"

- name: Include ACME certificate tasks
  ansible.builtin.include_tasks:
    file: acme-certificate.yml
  loop: "{{ acme_certificates | oszi.utils.unique_nested_list('live_path') }}"
  loop_control:
    loop_var: acme_certificate_item

- name: Include ACME revoke tasks
  ansible.builtin.include_tasks:
    file: acme-revoke.yml
  loop: "{{ acme_revoke_paths }}"
  loop_control:
    loop_var: acme_revoke_item
