---
- name: ACME tasks
  tags: [acme]
  block:
    - name: Include ACME tasks
      when: "acme_certificates | length > 0 or acme_revoke_paths | length > 0"
      ansible.builtin.include_tasks:
        file: acme.yml

    - name: ACME role completed
      ansible.builtin.assert:
        that: true
        quiet: true
