# {{ ansible_managed }}
ACTION=="add|change", {{ workstation_yubikey_udev_attrs }}, TAG+="uaccess", GROUP="plugdev", MODE="0660"
ACTION=="add|remove", {{ workstation_yubikey_udev_attrs }}, RUN+="{{ workstation_local_bin_path }}/yubikey-fix"
