---
# WARNING: Jinja templated numbers and booleans in a spec dictionary are strings in the final output of to_nice_yaml!
# Use YAML string documents to template port numbers, user and group IDs, complex structures, etc.

# Workarounds for containers bundled with S6:
# - Combine annotations with init set to FALSE to run S6 as PID 1.
# - Run as root as /run is owned by root (fs ownerships are not supported for tmpfs in PodSpec).
# - Keep podman init and set a command to skip S6 init altogether.

_podman_kube_common_annotations: |-
  io.containers.autoupdate/${CONTAINER_NAME}: image
  io.kubernetes.cri-o.TTY/${CONTAINER_NAME}: "false"
  io.podman.annotations.autoremove/${CONTAINER_NAME}: "FALSE"
  io.podman.annotations.init/${CONTAINER_NAME}: "TRUE"
  io.podman.annotations.privileged/${CONTAINER_NAME}: "FALSE"
  io.podman.annotations.publish-all/${CONTAINER_NAME}: "FALSE"

podman_kube_list:
  - path: socks-proxy.yml
    spec:
      apiVersion: v1
      kind: Pod
      metadata:
        name: socks-proxy-pod
        annotations: "{{ _podman_kube_common_annotations | replace('${CONTAINER_NAME}', 'dante') | from_yaml }}"
        labels:
          app: socks-proxy
      spec:
        automountServiceAccountToken: false
        enableServiceLinks: false
        hostNetwork: true
        # hostUsers: false
        # securityContext:
        #   runAsUser: 0
        #   runAsGroup: 0
        #   fsGroup: 0
        containers:
          - name: dante
            image: quay.io/oszi/dante:latest
            env:
              - name: SOCKD_INTERNAL
                value: tailscale0
              - name: SOCKD_EXTERNAL
                value: "{{ ansible_facts.default_ipv4.interface }}"
            resources:
              limits:
                memory: 512Mi
            securityContext:
              capabilities:
                add:
                  - CAP_SETUID
                  - CAP_SETGID
                drop:
                  - ALL
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
            volumeMounts:
              - name: tmpfs-tmp
                mountPath: /tmp
              - name: tmpfs-var-tmp
                mountPath: /var/tmp
              - name: tmpfs-run
                mountPath: /run
        volumes:
          - name: tmpfs-tmp
            emptyDir:
              medium: Memory
          - name: tmpfs-var-tmp
            emptyDir:
              medium: Memory
          - name: tmpfs-run
            emptyDir:
              medium: Memory

    files:
      # Add hostPath volumes for files or directories.
      # This is just for an example, the above image has an envsubst config.
      - dest: "{{ _containers_etc_path }}/socks-proxy/sockd.conf"
        content: |
          internal: tailscale0 port = 1080
          external: eth0
          # ...
        owner: root
        group: root
        mode: "0600"

    init_script: |
      # mkdir -p ...
      # chown -R ...

    post_install_script: |
      # curl ...
