# {{ ansible_managed }}
{% if dotfiles_gnupg_dirmngr_keyserver %}
keyserver {{ dotfiles_gnupg_dirmngr_keyserver }}
{% endif %}
{% for item in dotfiles_gnupg_dirmngr_hkp_cacerts %}
hkp-cacert {{ item }}
{% endfor %}
{{ dotfiles_gnupg_dirmngr_extra_options | join('\n') }}
