# {{ ansible_managed }}
{% if dotfiles_gnupg_default_key %}
default-key {{ dotfiles_gnupg_default_key }}
default-recipient-self
{% endif %}
keyid-format long
no-greeting
{{ dotfiles_gnupg_extra_options | join('\n') }}
