---
- name: Deploy toolbox environments
  become: true
  gather_facts: false
  hosts: "{{ toolbox_hosts | default('toolbox*') }}"
  roles:
    - oszi.environments.toolbox

- name: Deploy "thirdparty" roles for toolbox - all disabled by default
  become: true
  gather_facts: false
  hosts: "{{ toolbox_hosts | default('toolbox*') }}"
  roles:
    # Same for toolbox and workstations
    - oszi.thirdparty.rpmfusion
    - oszi.thirdparty.gcloud_sdk
    - oszi.thirdparty.hashicorp
    - oszi.thirdparty.opentofu
  tags:
    - thirdparty
