---
- name: Shell configuration tasks
  tags: [shell]
  block:
    - name: Include shell configuration tasks
      when: not shell_disabled
      ansible.builtin.include_tasks:
        file: shell.yml

    - name: Include tasks to enforce skeleton config files
      when: not shell_disabled
      ansible.builtin.include_tasks:
        file: skel-user.yml
      loop: "{{ shell_skeleton_enforced_users | unique }}"
      loop_control:
        loop_var: _shell_user_item_var  # use as shell_user_item

    - name: Shell role completed
      ansible.builtin.debug:
        msg: prevent-multiple-inclusions
      no_log: true
