---
- name: Flatten package list variables
  ansible.builtin.set_fact:
    shell_packages: "{{ shell_packages | flatten }}"

- name: Ensure shell packages are installed
  ansible.builtin.package:
    name: "{{ shell_packages }}"
    state: "present"

- name: Include bat/batcat alternatives tasks
  when: "'bat' in shell_packages"
  ansible.builtin.include_tasks:
    file: bat-batcat.yml

- name: Copy shrc.d directory
  ansible.builtin.copy:
    src: "etc/shrc.d/"
    dest: "{{ shell_shrc_d_path }}/"
    owner: "root"
    group: "root"
    directory_mode: "0755"
    mode: "0644"

- name: Install shrc.d templates
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ [shell_shrc_d_path, item | basename | regex_replace('\\.j2$', '')] | path_join }}"
    owner: "root"
    group: "root"
    mode: "0644"
  with_fileglob:
    - "templates/etc/shrc.d/*.j2"

- name: Install shrc entrypoint
  ansible.builtin.template:
    src: "etc/shrc.j2"
    dest: "{{ shell_shrc_path }}"
    owner: "root"
    group: "root"
    mode: "0644"

- name: Ensure skel directory exists
  ansible.builtin.file:
    path: "{{ shell_skel_path }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"

- name: Install skel templates
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ [shell_skel_path, item | basename | regex_replace('\\.j2$', '')] | path_join }}"
    owner: "root"
    group: "root"
    mode: "0644"
  with_fileglob:
    - "templates/etc/skel/.*.j2"

- name: Remove obsolete shell config files
  ansible.builtin.file:
    path: "{{ item }}"
    state: "absent"
  with_items: "{{ shell_obsolete_config_files }}"
