# {{ ansible_managed }}
# shellcheck shell=sh
{% if shell_environment %}

{% for key, value in shell_environment.items() %}
export {{ key | quote }}={{ value | quote }}
{% endfor %}
{% endif %}
{% if ansible_facts.os_family == 'Debian' %}

# See /etc/zsh/zshrc
export DEBIAN_PREVENT_KEYBOARD_CHANGES=1
{% endif %}
{% if shell_search_paths %}

# shellcheck disable=SC2043 # for loop run once
for i in {{ shell_search_paths | join(' ') }}; do
    if [ -d "$i" ]; then
        case ":${PATH}:" in
            *:"$i":*)
                ;;
            *)
                PATH="${i}:${PATH}"
                ;;
        esac
    fi
    unset i
done

export PATH
{% endif %}
