# {{ ansible_managed }}
{% if shell_tmux_default_shell %}
set -g default-shell {{ shell_tmux_default_shell | quote }}
{% endif %}
set -g history-limit {{ shell_tmux_history_limit | int }}
set -g mouse on

# Resize windows to active viewer
set -gw aggressive-resize on

# Auto-rename and renumber windows
set -gw automatic-rename on
set -g renumber-windows on

# Start indexes at 1 to match number-row keys
set -g base-index 1
set -gw pane-base-index 1

# Enable extended keys when requested (e.g., Shift+Enter)
set -us terminal-features # Reset default for reloading
set -as terminal-features 'xterm*:extkeys'
set -s extended-keys on

# Forward terminal focus changes
set -g focus-events on

# Reduce ESC latency for modal editors
set -sg escape-time {{ 10 if 'workstations' in group_names else 100 }}

# Customize pane border with status; pane_width - 7 (ellipsis + 2 spaces + border lines)
%hidden pane_border_title_limit='#{?#{e|>|:#{pane_width},7},#{e|-|:#{pane_width},7},1}'
%hidden pane_border_title='#{window_index}.#{pane_index}:#{pane_current_command} #{pane_title}'
set -g pane-border-format '#[reverse] #{=/#{E:pane_border_title_limit}/…:#{E:pane_border_title}} '
set -g pane-border-style fg=white # Terminal theme white
set -g pane-border-lines heavy

# Enable pane border status for multiple panes
set-hook -g window-layout-changed {
  if-shell -F '#{==:#{window_panes},1}' { set -w pane-border-status off } { set -w pane-border-status top }
}

# Customize status right; client_width // 2 - 8 (ellipsis + ' HH:MM '); min 16 total
%hidden status_right_title_limit='#{?#{e|>=|:#{e|/|:#{client_width},2},16},#{e|-|:#{e|/|:#{client_width},2},8},8}'
%hidden status_right_title='#{?#{==:#{window_panes},1},#{pane_title},#{client_user}@#H}'
set -g status-right '#{=/#{E:status_right_title_limit}/…:#{E:status_right_title}} %H:%M '
set -g status-right-length 1000

# Customize status left; yellow for prefix, red for synchronized panes
set -g status-left '#{?client_prefix,#[bg=yellow],#{?pane_synchronized,#[bg=red],}}[#{=/6/…:session_name}]#[default] '
set -g status-left-length 10

# Customize window status
set -g window-status-format '#I:#W#F'
set -g window-status-current-format '#I:#W#F'
set -g window-status-activity-style bold
set -g window-status-bell-style bold

# Set titles for the terminal
set -g set-titles-string '[#S]#{?session_alerts, [#{session_alerts}],} #I:#W #T'
set -g set-titles on

# Longer display-time for messages
set -g display-time 2000
set -g display-panes-time 2000

# Add secondary prefix
set -g prefix2 C-a
bind C-a send-prefix

# Prefixed custom commands
bind C-e set -w synchronize-panes
bind C-r source-file ~/.tmux.conf \; display "~/.tmux.conf reloaded"
bind | split-window -h -c "#{pane_current_path}"
bind \\ split-window -v -c "#{pane_current_path}"
bind F1 list-keys # Rebind ? to F1

# Search straight from prefix
bind / copy-mode \; command-prompt -i -p "(search down)" { send-keys -X search-forward-incremental -- "%%" }
bind ? copy-mode \; command-prompt -i -p "(search up)" { send-keys -X search-backward-incremental -- "%%" }

# Alt+Arrows to switch panes
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# Fix Alt+Up/Down conflicts (halfpage-up/down)
unbind -T copy-mode M-Up
unbind -T copy-mode M-Down

# Bind Shift+PageUp/PageDown in copy-mode
bind -T prefix S-PPage copy-mode \; send-keys -X halfpage-up
bind -T copy-mode S-PPage send-keys -X halfpage-up
bind -T copy-mode-vi S-PPage send-keys -X halfpage-up
bind -T copy-mode S-NPage send-keys -X halfpage-down
bind -T copy-mode-vi S-NPage send-keys -X halfpage-down

# Ensure consistent mouse drag; ignore #{alternate_on}
bind -T root MouseDrag1Pane if-shell -F '#{||:#{pane_in_mode},#{mouse_any_flag}}' { send-keys -M } { copy-mode -M }

# Use wl-clipboard, stay in copy-mode after selection
{% set wl_copy_text = 'wl-copy -n -t "text/plain;charset=%s"' | format(locale_charmap | default('utf-8', true) | lower) %}
if-shell -b '[ -n "${WAYLAND_DISPLAY-}" ] && command -v wl-copy >/dev/null 2>&1' {
  set -s copy-command {{ wl_copy_text | quote }}
  bind -T copy-mode MouseDragEnd1Pane send-keys -X copy-pipe {{ wl_copy_text | quote }}
  bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe {{ wl_copy_text | quote }}
}
{% if shell_tmux_conf_extra %}

{{ shell_tmux_conf_extra -}}
{% endif %}
