# {{ ansible_managed }}
set -g history-limit {{ shell_tmux_history_limit | int }}
set -gw aggressive-resize on
set -gw automatic-rename on
set -g set-titles on
set -g mouse on

# Status right (everything else is default)
set -g status-right "\"#{=56:pane_title}\" %H:%M "
set -g status-right-length 65

# Alt+Arrows to switch panes
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# Fix Alt+Up/Down conflicts
unbind -T copy-mode M-Up
unbind -T copy-mode M-Down
bind -T copy-mode S-PPage send-keys -X halfpage-up
bind -T copy-mode S-NPage send-keys -X halfpage-down

# Add secondary prefix
set -g prefix2 C-a
bind C-a send-prefix

# Prefixed custom commands
bind C-e set -w synchronize-panes
bind C-r source-file ~/.tmux.conf \; display "~/.tmux.conf reloaded"
bind | split-window -h -c "#{pane_current_path}"
bind \\ split-window -v -c "#{pane_current_path}"
{% if 'workstations' in group_names %}

# Use wl-clipboard, stay in copy-mode after selection
if-shell -b '[ -n "${WAYLAND_DISPLAY-}" ] && command -v wl-copy >/dev/null 2>&1' {
  set -s copy-command "wl-copy"
  bind -T copy-mode MouseDragEnd1Pane send-keys -X copy-pipe "wl-copy"
  bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe "wl-copy"
}
{% endif %}
{% if shell_tmux_conf_extra %}

{{ shell_tmux_conf_extra -}}
{% endif %}
