---
- name: Debug host variables and facts
  hosts: all
  # become: undef
  gather_facts: false
  strategy: ansible.builtin.linear
  vars:
    # Overridable, like so: ansible-playbook -i ... -l ...
    # -e debug_var='hostvars[inventory_hostname]'
    debug_var: "ansible_facts"
  tasks:
    - name: Import bootstrap tasks
      ansible.builtin.import_role:
        name: oszi.utils.bootstrap
        tasks_from: bootstrap
      tags: [bootstrap]

    - name: Import facts tasks
      ansible.builtin.import_role:
        name: oszi.utils.facts
        tasks_from: facts
      tags: [facts]

    - name: "Debug variable - {{ debug_var }}"
      ansible.builtin.debug:
        var: "{{ debug_var }}"
      tags: [vars]
