---
# Change the shell configuration without running any other role.
- name: Shell configuration on Linux
  hosts: all
  become: true
  gather_facts: false
  roles:
    - oszi.utils.bootstrap
    - oszi.general.shell
