---
- name: Update packages and containers on Linux
  hosts: all
  become: true
  gather_facts: false
  pre_tasks:
    - name: Import bootstrap tasks
      ansible.builtin.import_role:
        name: oszi.general.bootstrap
        tasks_from: bootstrap
      tags: [always]

  tasks:
    - name: Update distribution packages
      ansible.builtin.package:
      args: "{{ apt_args if ansible_facts.pkg_mgr == 'apt' else dnf_args }}"
      vars:
        apt_args:
          cache_valid_time: 3600
          update_cache: true
          upgrade: "dist"
        dnf_args:
          name: "*"
          state: "latest"  # noqa: package-latest
          update_cache: true
      tags: [package]

    - name: Autoremove orphaned packages
      when: "update_package_autoremove | default(true)"
      ansible.builtin.package:
        autoremove: true
      tags: [package]

    - name: Update python packages
      when: "not python_disabled | default(false)"
      ansible.builtin.include_role:
        name: oszi.general.python
        tasks_from: update
        apply:
          tags: [python]
      tags: [python]

    - name: Update flatpak packages
      when: "not flatpak_disabled | default(false)"
      ansible.builtin.include_role:
        name: oszi.general.flatpak
        tasks_from: update
        apply:
          tags: [flatpak]
      tags: [flatpak]

    - name: Update snap packages
      when: "not snap_disabled | default(false)"
      ansible.builtin.include_role:
        name: oszi.general.snap
        tasks_from: update
        apply:
          tags: [snap]
      tags: [snap]

    - name: Refresh ACME certificates
      when: "acme_certificates is defined and acme_certificates | length > 0"
      ansible.builtin.include_role:
        name: oszi.general.acme
      vars:
        # Reloading is disabled by default for first-time setup.
        acme_reload: true
      tags: [acme]

    - name: Podman update tasks
      when: "not podman_disabled | default(false)"
      tags: [podman]
      block:
        - name: Update podman images as root
          ansible.builtin.include_role:
            name: oszi.general.podman
            tasks_from: update

        - name: Check if user namespaces are enabled
          ansible.builtin.shell: |
            set -euo pipefail
            sysctl -n kernel.unprivileged_userns_clone 2>/dev/null \
              || sysctl -n user.max_user_namespaces
          args:
            executable: "/bin/bash"
          register: _sysctl_userns_result
          check_mode: false
          changed_when: false
          failed_when: false

        - name: Update podman images as ansible_user
          when: "_sysctl_userns_result.stdout | default(0) | int > 0"
          ansible.builtin.include_role:
            name: oszi.general.podman
            tasks_from: update
            apply:
              become: false
