---
- name: "Validate quadlet name {{ podman_quadlets_item.name }}"
  ansible.builtin.assert:
    that: "podman_quadlets_item.name | regex_search(podman_quadlets_name_regex)"

- name: "Set item loop vars for quadlet {{ podman_quadlets_item.name }}"
  ansible.builtin.set_fact:
    _podman_quadlets_item_path: "{{ [podman_quadlets_systemd_path, podman_quadlets_item.name] | path_join }}"
    _podman_quadlets_item_name: "{{ podman_quadlets_item.name.split('.')[:-1] | join('.') }}"
    _podman_quadlets_item_type: "{{ podman_quadlets_item.name.split('.')[-1] }}"
    _podman_quadlets_copy_results: null  # Reset previous iteration.

- name: "Set service loop vars for quadlet {{ podman_quadlets_item.name }}"
  ansible.builtin.set_fact:
    _podman_quadlets_service: "{{ _podman_quadlets_item_name }}{%
      if _podman_quadlets_item_type not in ['container', 'kube']
      %}-{{ _podman_quadlets_item_type }}{% endif %}.service"
    _podman_quadlets_service_is_template: "{{ _podman_quadlets_item_name.endswith('@') }}"
    _podman_quadlets_service_enabled: "{{ podman_quadlets_item.state | default('present') == 'present' }}"

- name: "Include tasks for quadlet {{ podman_quadlets_item.name }}"
  ansible.builtin.include_tasks:
    file: "quadlet-{{ 'absent' if podman_quadlets_item.state | default('present') == 'absent'
      else 'present' }}.yml"  # present / present_disabled
