---
- name: "Validate quadlet name {{ podman_quadlets_item.name }}"
  ansible.builtin.assert:
    that: "podman_quadlets_item.name | regex_search(podman_quadlets_name_regex)"

- name: Set podman quadlet item loop vars
  ansible.builtin.set_fact:
    _podman_quadlets_item_path: "{{ [podman_quadlets_systemd_path, podman_quadlets_item.name] | path_join }}"
    _podman_quadlets_item_name: "{{ podman_quadlets_item.name.split('.')[:-1] | join('.') }}"
    _podman_quadlets_item_type: "{{ podman_quadlets_item.name.split('.')[-1] }}"
    _podman_quadlets_copy_results: null  # Reset previous iteration.

- name: Copy static files for the quadlet item
  when: podman_quadlets_item.files is defined
  block:
    # Do not set permissions as they could be changed by the service.
    - name: "Ensure directories exist for quadlet {{ podman_quadlets_item.name }}"
      ansible.builtin.file:  # noqa: risky-file-permissions
        path: "{{ item }}"
        state: "directory"
      with_items: "{{ podman_quadlets_item.files | map(attribute='dest') | map('dirname') | unique }}"

    - name: "Copy static files for quadlet {{ podman_quadlets_item.name }}"
      ansible.builtin.copy:
      args: "{{ item }}"
      with_items: "{{ podman_quadlets_item.files }}"
      register: _podman_quadlets_copy_results

- name: "Run init script for quadlet {{ podman_quadlets_item.name }}"
  when: podman_quadlets_item.init_script is defined
  ansible.builtin.shell: |
    set -euxo pipefail
    {{ podman_quadlets_item.init_script }}
  args:
    # White lie to only execute once before installing.
    creates: "{{ _podman_quadlets_item_path }}"
    executable: "/bin/bash"

- name: "Ensure systemd directory exists for quadlet {{ podman_quadlets_item.name }}"
  ansible.builtin.file:
    dest: "{{ _podman_quadlets_item_path | dirname }}"
    state: "directory"
    # owner: ansible_user or root
    mode: "0755"

- name: "Install quadlet {{ podman_quadlets_item.name }}"
  ansible.builtin.copy:
    content: "{{ podman_quadlets_item.quadlet }}"
    dest: "{{ _podman_quadlets_item_path }}"
    # owner: ansible_user or root
    mode: "0644"
  register: _podman_quadlets_unit_result

- name: Find potential quadlet errors
  when: _podman_quadlets_unit_result.changed
  ansible.builtin.command: "{{ podman_quadlets_system_generator_dryrun }}"
  changed_when: false
  check_mode: false

- name: "Reload systemd for quadlet {{ podman_quadlets_item.name }}"
  when: _podman_quadlets_unit_result.changed  # Whether it is a template or not.
  ansible.builtin.systemd:
    scope: "{{ podman_quadlets_systemd_scope }}"
    daemon_reload: true

- name: "Enable or restart quadlet {{ podman_quadlets_item.name }}"
  when: "not _podman_quadlets_item_name.endswith('@')"  # Not a template.
  ansible.builtin.systemd:
    name: "{{ _podman_quadlets_service }}"
    scope: "{{ podman_quadlets_systemd_scope }}"
    state: "{{ 'restarted' if _podman_quadlets_changed else 'started' }}"
    enabled: true
  vars:
    _podman_quadlets_service: "{{ _podman_quadlets_item_name }}{%
      if _podman_quadlets_item_type not in ['container', 'kube']
      %}-{{ _podman_quadlets_item_type }}{% endif %}.service"
    _podman_quadlets_changed: "{{ _podman_quadlets_unit_result.changed
      or _podman_quadlets_copy_results is not none and _podman_quadlets_copy_results.changed }}"

- name: "Run post-install script for quadlet {{ podman_quadlets_item.name }}"
  when: _podman_quadlets_unit_result.changed and podman_quadlets_item.post_install_script is defined
  ansible.builtin.shell: |
    set -euxo pipefail
    {{ podman_quadlets_item.post_install_script }}
  args:
    executable: "/bin/bash"
  changed_when: true
