---
# Do not use the systemd module for sshd!
- name: Restart sshd service
  ansible.builtin.service:
    name: "sshd"
    state: "restarted"
    enabled: true

- name: Ensure the configured SSH port is used
  ansible.builtin.set_fact:
    ansible_port: "{{ ssh_port }}"  # noqa: var-naming[no-role-prefix]
  listen: "Set ansible_port to ssh_port"

- name: Check connectivity
  ansible.builtin.ping:
  listen: "Set ansible_port to ssh_port"
