---
- name: Set dconf settings for the Gnome user
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value | string }}"
    state: "present"
  with_dict: "{{ gnome_users_dconf_vars }}"
  tags: [dconf]

- name: Set custom keyboard shortcuts
  when: "gnome_users_dconf_custom_keybindings | length > 0"
  tags: [dconf]
  block:
    - name: Set dconf custom keybindings - binding attr
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/binding"
        value: "{{ item['binding'] }}"
        state: "present"
      loop: "{{ gnome_users_dconf_custom_keybindings }}"
      loop_control:
        index_var: index

    - name: Set dconf custom keybindings - command attr
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/command"
        value: "{{ item['command'] }}"
        state: "present"
      loop: "{{ gnome_users_dconf_custom_keybindings }}"
      loop_control:
        index_var: index

    - name: Set dconf custom keybindings - name attr
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/name"
        value: "{{ item['name'] }}"
        state: "present"
      loop: "{{ gnome_users_dconf_custom_keybindings }}"
      loop_control:
        index_var: index

    - name: Generate dconf custom keybindings key-map helper yaml
      ansible.builtin.set_fact:
        _gnome_users_dconf_custom_keybindings_key_map_yaml: |-
          {% for index in range(gnome_users_dconf_custom_keybindings | length) %}
          - '{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/'
          {% endfor %}

    - name: Set dconf custom keybindings key-map helper
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}"
        value: "{{ _gnome_users_dconf_custom_keybindings_key_map_yaml | from_yaml | string }}"
        state: "present"
