---
- name: Set dconf settings for the Gnome user
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value | string }}"
    state: "present"
  with_dict: "{{ gnome_users_dconf_vars }}"
  tags: [dconf]

- name: Set custom keyboard shortcuts
  when: "gnome_users_dconf_custom_keybindings | length > 0"
  tags: [dconf]
  block:
    - name: Set dconf custom keybindings - binding attr
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/binding"
        value: "{{ item['binding'] }}"
        state: "present"
      loop: "{{ gnome_users_dconf_custom_keybindings }}"
      loop_control:
        index_var: index

    - name: Set dconf custom keybindings - command attr
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/command"
        value: "{{ item['command'] }}"
        state: "present"
      loop: "{{ gnome_users_dconf_custom_keybindings }}"
      loop_control:
        index_var: index

    - name: Set dconf custom keybindings - name attr
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/name"
        value: "{{ item['name'] }}"
        state: "present"
      loop: "{{ gnome_users_dconf_custom_keybindings }}"
      loop_control:
        index_var: index

    - name: Generate dconf custom keybindings key-map helper yaml
      ansible.builtin.set_fact:
        _gnome_users_dconf_custom_keybindings_key_map_yaml: |-
          {% for index in range(gnome_users_dconf_custom_keybindings | length) %}
          - '{{ gnome_users_dconf_custom_keybindings_prefix }}/custom{{ index }}/'
          {% endfor %}

    - name: Set dconf custom keybindings key-map helper
      community.general.dconf:
        key: "{{ gnome_users_dconf_custom_keybindings_prefix }}"
        value: "{{ _gnome_users_dconf_custom_keybindings_key_map_yaml | from_yaml | string }}"
        state: "present"

- name: Set dconf vars for Ptyxis default profile
  when: "gnome_users_dconf_ptyxis_terminal_default_profile_vars | length > 0"
  tags: [dconf]
  block:
    - name: Read default profile UUID for Ptyxis
      community.general.dconf:
        key: "{{ gnome_users_dconf_ptyxis_terminal_default_profile_path }}"
        state: "read"
      register: _gnome_users_dconf_ptyxis_default_profile_uuid

    - name: Set dconf vars for Ptyxis default profile
      when: _gnome_users_dconf_ptyxis_default_profile_uuid.value is not none
      community.general.dconf:
        key: "{{ gnome_users_dconf_ptyxis_terminal_profiles_prefix
          + _gnome_users_dconf_ptyxis_default_profile_uuid.value.strip(\"'\") }}/{{ item.key }}"
        value: "{{ item.value }}"
        state: "present"
      with_dict: "{{ gnome_users_dconf_ptyxis_terminal_default_profile_vars }}"

- name: Set dconf vars for legacy Gnome-Terminal default profile
  when: "gnome_users_dconf_legacy_terminal_default_profile_vars | length > 0"
  tags: [dconf]
  block:
    - name: Read default profile UUID for legacy Gnome-Terminal
      ansible.builtin.command: "gsettings get {{ gnome_users_dconf_legacy_terminal_default_profile_gsettings_schema }}"
      check_mode: false
      changed_when: false
      failed_when: false
      register: _gnome_users_dconf_legacy_default_profile_uuid

    - name: Set dconf vars for legacy Gnome-Terminal default profile
      when: "_gnome_users_dconf_legacy_default_profile_uuid.rc == 0
        and _gnome_users_dconf_legacy_default_profile_uuid.stdout is truthy"
      community.general.dconf:
        key: "{{ gnome_users_dconf_legacy_terminal_profiles_prefix
          + _gnome_users_dconf_legacy_default_profile_uuid.stdout.strip(\"'\") }}/{{ item.key }}"
        value: "{{ item.value }}"
        state: "present"
      with_dict: "{{ gnome_users_dconf_legacy_terminal_default_profile_vars }}"
