---
- name: "Set dconf settings for user:{{ gnome_users_item }}"
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value | string }}"
    state: "present"
  with_dict: "{{ gnome_users_dconf_vars }}"

- name: "Include dconf custom keybindings tasks for user:{{ gnome_users_item }}"
  when: "gnome_users_dconf_custom_keybindings | length > 0"
  ansible.builtin.include_tasks:
    file: gnome-user/dconf-custom-keybindings.yml

- name: Set dconf vars for Ptyxis default profile
  when: "gnome_users_dconf_ptyxis_terminal_default_profile_vars | length > 0"
  block:
    - name: "Read Ptyxis default profile UUID for user:{{ gnome_users_item }}"
      community.general.dconf:
        key: "{{ gnome_users_dconf_ptyxis_terminal_default_profile_path }}"
        state: "read"
      register: _gnome_users_dconf_ptyxis_default_profile_uuid

    - name: "Set dconf vars for Ptyxis default profile for user:{{ gnome_users_item }}"
      when: _gnome_users_dconf_ptyxis_default_profile_uuid.value is not none
      community.general.dconf:
        key: "{{ gnome_users_dconf_ptyxis_terminal_profiles_prefix
          + _gnome_users_dconf_ptyxis_default_profile_uuid.value.strip(\"'\") }}/{{ item.key }}"
        value: "{{ item.value }}"
        state: "present"
      with_dict: "{{ gnome_users_dconf_ptyxis_terminal_default_profile_vars }}"

- name: Set dconf vars for legacy Gnome-Terminal default profile
  when: "gnome_users_dconf_legacy_terminal_default_profile_vars | length > 0"
  block:
    - name: "Read legacy Gnome-Terminal default profile UUID for user:{{ gnome_users_item }}"
      ansible.builtin.command: "gsettings get {{ gnome_users_dconf_legacy_terminal_default_profile_gsettings_schema }}"
      check_mode: false
      changed_when: false
      failed_when: false
      register: _gnome_users_dconf_legacy_default_profile_uuid

    - name: "Set dconf vars for legacy Gnome-Terminal default profile for user:{{ gnome_users_item }}"
      when: "_gnome_users_dconf_legacy_default_profile_uuid.rc == 0
        and _gnome_users_dconf_legacy_default_profile_uuid.stdout is truthy"
      community.general.dconf:
        key: "{{ gnome_users_dconf_legacy_terminal_profiles_prefix
          + _gnome_users_dconf_legacy_default_profile_uuid.stdout.strip(\"'\") }}/{{ item.key }}"
        value: "{{ item.value }}"
        state: "present"
      with_dict: "{{ gnome_users_dconf_legacy_terminal_default_profile_vars }}"
