---
- name: Gnome user configuration tasks
  tags: [gnome, gnome-users]
  block:
    - name: Include Gnome user configuration tasks
      ansible.builtin.include_tasks:
        file: gnome-user.yml
        apply:
          become: "{{ gnome_users_item != ansible_user }}"
          become_user: "{{ gnome_users_item }}"
      loop: "{{ gnome_users | unique }}"
      loop_control:
        loop_var: _gnome_users_item_var  # use as gnome_users_item

    - name: Gnome-users role completed
      ansible.builtin.assert:
        that: true
        quiet: true
