---
# Deterministic list - supports legacy comma-separated string format without argument specs:
facts_subset_list: "{{ (facts_subset.split(',') | map('trim') if facts_subset is string
  else facts_subset) | unique | sort }}"

# Facts subset not already present in the cache:
# If filtered, ignore what has been gathered already.
# If all has been gathered, nothing is missing.
facts_subset_missing: "{{ facts_subset_list if facts_filter is truthy
  else facts_subset_list | difference(facts_gathered_subset_cache) | sort
  if 'all' not in facts_gathered_subset_cache else [] }}"

# Explicit subset to gather with !all and !min:
# If min has been requested but not yet gathered, do not exclude it.
# If all has been requested explicitly, only then do not exclude it.
facts_subset_missing_explicit: "{{ facts_subset_missing
  + (['!all'] + (['!min'] if 'min' not in facts_subset_missing else [])
  if 'all' not in facts_subset_missing else []) }}"
