---
sudoers_group: "{{ 'sudo' if ansible_facts.os_family == 'Debian' else 'wheel' }}"
users_sudo_nopasswd_groups: []

# Use with ... | combine(..., recursive=true, list_merge='append_rp')
users_groups_list: "{{ inventory_users_groups_workstations | oszi.general.nested_dict_to_list('name') }}"
inventory_users_groups_workstations:
  david: {}
  libvirt:
    system: true
  plugdev:
    system: true
  tcpdump:
    system: true
  wireshark:
    system: true

# Use with ... | combine(..., recursive=true, list_merge='append_rp')
users_list: "{{ inventory_users_workstations | oszi.general.nested_dict_to_list('name') }}"
inventory_users_workstations:
  david:
    group: "david"
    groups: "{{ [sudoers_group] + inventory_users_groups_workstations.keys() | list }}"
  root:
    password: "!!"
