---
sudoers_group: "{{ 'sudo' if ansible_facts.os_family == 'Debian' else 'wheel' }}"
users_sudo_nopasswd_groups: []

# Use with ... | combine(..., recursive=true, list_merge='append_rp')
users_groups_list: "{{ inventory_users_groups_workstations | oszi.utils.nested_dict_to_list('name') }}"
inventory_users_groups_workstations:
  david: {}
  libvirt:
    system: true
  plugdev:
    system: true
  tcpdump:
    system: true
  wireshark:
    system: true

# Use with ... | combine(..., recursive=true, list_merge='append_rp')
users_list: "{{ inventory_users_workstations | oszi.utils.nested_dict_to_list('name') }}"
inventory_users_workstations:
  root:
    shell: "/bin/bash"   # Leave bash as the default for root! [sudo -i zsh]
    password_lock: true  # Or, set a password (hash) for recovery access.
  david:
    group: "david"
    groups: "{{ [sudoers_group] + inventory_users_groups_workstations.keys() | list }}"
    shell: "/bin/zsh"
