---
# Skip shell setup tasks (e.g. read-only systems)?
shell_disabled: false

# Basic system-wide shell customizations:
shell_histsize: 10000
shell_histfilesize: 10000
shell_tmux_history_limit: 100000
shell_tmux_conf_extra: ""  # Appended to .tmux.conf

# Dict of environment variables:
# * If EDITOR or VISUAL is vi, ZSH switches to vi key-bindings.
shell_environment:
  ENV: "{{ shell_shrc_path }}"
  EDITOR: nano

# List of extra paths to add to $PATH:
# WARNING: Escape paths here!
shell_search_paths:
  - '"$HOME"/.local/bin'
  - '"$HOME"/bin'

# List of users to enforce skel templates for:
shell_skeleton_enforced_users: "{{ (['root', ansible_user | default('root')]
  + (users_list | map(attribute='name') | list if users_list is defined else [])) | unique
  if ansible_facts.user_uid | int == 0
  else [ansible_facts.user_id] }}"

# Ensure shell_packages are installed?
# Disable for running on immutable systems, or without root.
shell_install_packages: "{{ ansible_facts.user_uid | int == 0 }}"

# Nested list of shell packages to install (RedHat/Debian):
# When shell_install_packages is true.
shell_packages:
  - bash
  - bash-completion
  - zsh
  # Essential tools
  - bat
  - curl
  - findutils
  - fzf
  - gawk
  - git
  - gnupg
  - grep
  - jq
  - less
  - nano  # $EDITOR
  - pinentry-tty
  - ripgrep
  - rsync
  - screen
  - tar
  - tmux
  - util-linux

# Path for shrc, shrc.d, and skel (override if /etc is not writeable).
# Used in role vars shell_shrc_d_path, shell_shrc_path, and shell_skel_path.
# Do not use shell_etc_path directly in tasks and templates!
# Paths are quoted in shrc, no shell expansion!
shell_etc_path: "{{ '/etc' if ansible_facts.user_uid | int == 0
  else ansible_facts.user_dir + '/.config' }}"

# Path for local executables.
shell_local_bin_path: "{{ local_bin_path | default('/usr/local/bin', true)
  if ansible_facts.user_uid | int == 0
  else ansible_facts.user_dir + '/.local/bin' }}"

# Dict of ZSH-compatible bash completion files (values) to pre-load if there is no
# native completion function (_key). When given a list, files are tried in order.
# Most bash completion files are NOT ZSH-compatible, use them on a case-by-case basis.
shell_bash_completions_for_zsh:
  - command: gcloud
    # completion.zsh.inc is still bash in part and does not work with auto-loading.
    # Use /etc/bash_completion.d/gcloud for older versions.
    path: "/usr/{{ (ansible_facts.os_family == 'Debian') | ternary('lib', 'lib64') }}/google-cloud-sdk/completion.zsh.inc"
  - command: wg
    path: "/usr/share/bash-completion/completions/wg"
