---
# System locale settings
baselinux_set_locale: >-
  {% if 'workstations' in group_names %}
  LANG=en_US.UTF-8
  LANGUAGE=en_US
  LC_COLLATE=C.UTF-8
  LC_ADDRESS=en_IE.UTF-8
  LC_IDENTIFICATION=en_IE.UTF-8
  LC_MEASUREMENT=en_IE.UTF-8
  LC_MESSAGES=en_IE.UTF-8
  LC_MONETARY=en_IE.UTF-8
  LC_NAME=en_IE.UTF-8
  LC_NUMERIC=en_IE.UTF-8
  LC_PAPER=en_IE.UTF-8
  LC_TELEPHONE=en_IE.UTF-8
  LC_TIME=en_IE.UTF-8
  {% else %}
  C.UTF-8
  {% endif %}

# System timezone
baselinux_timezone: "UTC"

# Install iptables-nft and configure alternatives?
baselinux_iptables_nft_alternatives: true
# Ignore DNS settings by DHCP client?
# Useful to override GCP's aggressive DNS.
baselinux_dhclient_resolvconf_disabled: false

# Dict of hosts for /etc/hosts:
# Set inventory_hostname to avoid DNS hanging during hostname lookup.
# * {hostname.example.com hostname: IP_ADDRESS}
baselinux_etc_hosts: "{{ {inventory_hostname: '127.0.0.1'} }}"
# Path to store baselinux_sysctl_values:
# Modern systemd no longer reads /etc/sysctl.conf
# Most distributions symlink /etc/sysctl.d/99-sysctl.conf to /etc/sysctl.conf
baselinux_sysctl_conf_path: "/etc/sysctl.d/99-sysctl.conf"
# Dict of custom sysctl values:
baselinux_sysctl_values: {}
# Dict of udev rules to install under /etc/udev/rules.d/{{ item.key }}.rules
baselinux_udev_rules: {}
# Dict of sudoers rules to install under /etc/sudoers.d/{{ item.key }}
baselinux_sudoers_rules: {}

# Nested list of packages to install on all Linux hosts:
baselinux_extra_packages: []
# Nested list of packages to remove on all Linux hosts:
baselinux_blacklisted_packages: []
# List of dicts of options for ansible.posix.mount:
# - {path: "/mnt/data", src: "UUID=...", fstype: "xfs", state: "present"}
baselinux_posix_mounts: []
# List of paths to always delete:
baselinux_absent_paths: []
# Dict of system symlinks:
# * {/path/to/dest: link/src}
baselinux_symlinks: {}

# Controller-local paths of CAs to install system-wide:
# HINT: Use {{ inventory_dir }}.
baselinux_ca_trust_anchors: []
# Absolute remote paths of CAs to remove:
# HINT: Specify separate entries for Debian and RedHat.
baselinux_ca_trust_anchors_blacklisted_paths: []
