---
- name: Install python3 distribution packages
  when: python_install_distro_packages
  block:
    - name: Flatten package list variables
      ansible.builtin.set_fact:
        python_devel_distro_packages: "{{ python_devel_distro_packages | flatten }}"
        python_distro_packages: "{{ python_distro_packages | flatten }}"

    - name: Install python3 distribution packages
      ansible.builtin.package:
        name: "{{ python_devel_distro_packages + python_distro_packages }}"
        state: "present"

- name: Manage python packages with pip
  ansible.builtin.pip:
  args: "{{ item }}"
  with_items: "{{ python_pip_list }}"

- name: Manage python packages with pipx
  community.general.pipx:
  args: "{{ item }}"
  with_items: "{{ python_pipx_list }}"
