---
- name: SELinux setup tasks
  tags: [selinux]
  block:
    - name: Include SELinux setup tasks
      when: not selinux_disabled
      ansible.builtin.include_tasks:
        file: selinux.yml

    - name: SELinux role completed
      ansible.builtin.assert:
        that: true
        quiet: true
