[defaults]
# Relative to the ansible_collections repository.
collections_path = ../

# Example inventory directory.
inventory = inventory

# See the bootstrap role.
gathering = explicit
host_key_checking = True
conditional_bare_variables = False
verbosity = 1

[privilege_escalation]
become = True

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=7200s
