[defaults]
# Example inventory directory.
inventory = inventory
# Automatic, GPG encrypted vault passwords.
#vault_identity_list = inventory/example@../_scripts/ansible-vault-id-client
# Free-like strategy limited to the number of forks.
#strategy = ansible.builtin.host_pinned

# Relative to the ansible-collections repository.
collections_path = ..:~/.ansible/collections:/usr/share/ansible/collections
# See oszi.utils.bootstrap and oszi.utils.facts.
gathering = explicit
# Expose facts only in ansible_facts, do not inject them as host_vars.
inject_facts_as_vars = False
# Increase verbosity to log more than just [ok].
verbosity = 1

[ssh_connection]
# Pipe code to python instead of using temporary files in a shell.
# Beware of requiretty with sudo.
pipelining = True
# Reuse and keep SSH connections open.
ssh_args = -C -o ControlMaster=auto -o ControlPersist=7200s
# Use scp instead of sftp with -O.
transfer_method = scp
scp_extra_args = -O
