[defaults]
# Example inventory directory.
inventory = inventory
# Automatic, GPG encrypted vault passwords.
#vault_identity_list = inventory/example@../_scripts/ansible-vault-id-client

# Relative to the ansible-collections repository.
collections_path = ..:~/.ansible/collections:/usr/share/ansible/collections
# See the oszi.utils.bootstrap role.
gathering = explicit
# Expose facts only in ansible_facts, do not inject them as host_vars.
inject_facts_as_vars = False
verbosity = 1

[ssh_connection]
# Pipe code to python instead of using temporary files in a shell.
# Beware of requiretty with sudo.
pipelining = True
# Reuse and keep SSH connections open.
ssh_args = -C -o ControlMaster=auto -o ControlPersist=7200s
# Use scp instead of sftp.
scp_if_ssh = True
scp_extra_args = -O
