# shellcheck shell=sh

alias clip='xclip -i -selection clipboard'
alias o='xdg-open'

{% if not flatpak_disabled %}
{% set _flatpak_chromium = 'org.chromium.Chromium' %}
{% if _flatpak_chromium in flatpak_apps %}
if ! command -v chromium >/dev/null 2>&1; then
    alias chromium='/usr/bin/flatpak run --command=/app/bin/chromium {{ _flatpak_chromium }}'
fi

{% endif %}
{% endif %}
if command -v google-chrome >/dev/null 2>&1; then
    alias google-chrome-jitless='google-chrome --js-flags="--jitless"'
    alias google-chrome-x11='google-chrome --ozone-platform=x11'
    if ! command -v chromium >/dev/null 2>&1; then
        alias chromium='google-chrome'
    fi
fi

if command -v chromium >/dev/null 2>&1; then
    alias chromium-jitless='chromium --js-flags="--jitless"'
    alias chromium-x11='chromium --ozone-platform=x11'
fi

if command -v ykman >/dev/null 2>&1; then
    alias ykman-oath-list='ykman oath accounts list'
    alias ykman-oath-code='_ykman_oath_code'
    _ykman_oath_code() {
        if [ -n "${1-}" ]; then
            ykman oath accounts code "$1" | tee /dev/stderr | awk '{printf $(NF)}' | clip
        else
            ykman oath accounts code
        fi
    }
fi
