---
# Disable and uninstall(!) OpenSSH server?
ssh_server_disabled: "{{ ansible_facts.virtualization_type == 'container' }}"

# Dict of authorized keys by user
# * Multiple keys can be separated by new lines
ssh_authorized_keys: {}
# Remove keys that were not configured here?
ssh_authorized_keys_exclusive: true
# Make authorized_keys files immutable to protect restrictions?
# NOTE: Without making ~/.ssh append-only (+a) this can still be worked around!
# But that breaks some legitimate use-cases - e.g. cleaning up control sockets.
ssh_authorized_keys_immutable: false

# Override the distro sshd_config?
ssh_server_config_overridable: true
# Extra lines for sshd_config
ssh_server_config_extra: ""
# List of SSH allowed users
ssh_allow_users: []

# Harden SSH crypto settings?
ssh_harden_crypto: true
# List of existing host keys:
ssh_host_keys:
  - /etc/ssh/ssh_host_ed25519_key
  - /etc/ssh/ssh_host_rsa_key
