# shellcheck shell=bash # zsh is unsupported
# shellcheck disable=SC1090,SC1091 # non-constant source
# shellcheck disable=SC2154 # functions, compdef and complete not assigned

[ "$TERM" != "dumb" ] || return

if ! (( ${+functions[compdef]} )); then
    autoload -Uz compinit
    compinit
fi

if ! (( ${+functions[complete]} )); then
    autoload -Uz bashcompinit
    bashcompinit
fi

function source_bash_completion() {
    if [[ "$1" = *bash[-_]completion* ]]; then
        emulate -L ksh
    fi
    source "$1"
}
{% for item in shell_bash_completions_for_zsh | oszi.utils.unique_nested_list('command') %}

if whence {{ item.command | quote }} >/dev/null 2>&1 && ! whence {{ ('_' + item.command) | quote }} >/dev/null 2>&1; then
    if [ -r {{ item.path | quote }} ]; then
        source_bash_completion {{ item.path | quote }}
    fi
fi
{% endfor %}
