# shellcheck shell=sh disable=SC1091 # not following input sources

[ "$TERM" != "dumb" ] || return

autoload -Uz +X bashcompinit && bashcompinit
{% if shell_bash_completions_for_zsh %}
{% for key, values in shell_bash_completions_for_zsh.items() %}
{% if key and values and values is iterable %}

if whence {{ key | quote }} >/dev/null 2>&1 && ! whence {{ ('_' + key) | quote }} >/dev/null 2>&1; then
{% for value in ([values] if values is string else values) %}
    {{ 'if' if loop.first else 'elif' }} [ -r {{ value | quote }} ]; then
        . {{ value | quote }}
{% endfor %}
    fi
fi
{% endif %}
{% endfor %}
{% endif %}
