# shellcheck shell=bash

case $- in
    *i*) ;;
      *) return ;;
esac

export HISTSIZE={{ shell_histsize | int }}
export HISTFILESIZE={{ shell_histfilesize | int }}
export HISTCONTROL={{ shell_histcontrol | quote }}

shopt -s histappend
shopt -s checkwinsize

_bash_prompt_init() {
    PS1="\[\033[{{ (ansible_virtualization_role == 'guest') | ternary(32, 31) }}m\]"
    if [[ "$UID" -eq 0 ]]; then
        PS1="${PS1}\[\033[7m\]"
    fi

    PS1="${PS1}\u@\h\[\033[0m\]:\[\033[34m\]\W\[\033[0m\]\${PS1_PROMPT@P} "
}

_bash_prompt_command () {
    PS1_RC=$?

    if [[ "$UID" -eq 0 ]]; then
        PS1_PROMPT='#'
    else
        PS1_PROMPT='$'
    fi

    if [[ "$PS1_RC" -ne 0 ]]; then
        PS1_PROMPT="\[\033[31m\]${PS1_PROMPT}\[\033[0m\]"
    fi

    if git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
        PS1_PROMPT="@\[\033[33m\]$(git symbolic-ref --short HEAD 2>/dev/null \
            || git rev-parse --short HEAD)\[\033[0m\]${PS1_PROMPT}"
    fi

    if [[ "$PS1" != *PS1_PROMPT* ]]; then
        _bash_prompt_init
    fi
}

if [[ "$(declare -p PROMPT_COMMAND 2>&1)" = "declare -a"* ]]; then
    PROMPT_COMMAND+=("_bash_prompt_command")
elif [[ -n "${PROMPT_COMMAND:-}" ]]; then
    PROMPT_COMMAND=("$PROMPT_COMMAND" "_bash_prompt_command")
else
    PROMPT_COMMAND=("_bash_prompt_command")
fi

_bash_prompt_init
