---
# See also: environments/roles/toolbox/defaults/main/packages.yml
# and general/roles/gnome/defaults/main/packages.yml

# Nested list of packages to install on workstations:
workstation_packages: "{{ workstation_packages_pt_default }}"

# Fedora/Debian/Ubuntu defaults to include in workstation_packages:
workstation_packages_pt_default:
  - "{{ [
      'hunspell-en-gb',
      'hunspell-en-us',
      'hunspell-hu',
      'pcscd',
      'scdaemon',
    ]
    if (ansible_facts.os_family == 'Debian')
    else [
      'hunspell-en',
      'hunspell-hu',
      'pcsc-lite',
    ] }}"
  # [All distributions]
  - "{{ [
      'ddccontrol',
      'i2c-tools',
      'ltunify',
      'piper',
    ]
    if ansible_facts.virtualization_role != 'guest' else [] }}"
  - efitools
  - firewall-config
  - gamemode
  - gparted
  - keepassxc
  - mesa-vulkan-drivers
  - pcsc-tools
  - powertop
  - remmina
  - wireshark
  - wl-clipboard
  - yubikey-manager

# Packages to remove from workstations (Fedora/Debian/Ubuntu):
workstation_blacklisted_packages:
  - "{{ workstation_blacklisted_packages_pt_to_sandbox }}"
  - "{{ workstation_blacklisted_packages_pt_office }}"
  - "{{ workstation_blacklisted_packages_pt_anaconda if (ansible_facts.os_family == 'RedHat') else [] }}"

# Use flatpak or snap with hardened configurations.
# On Debian, the default firefox-esr cannot be removed without installing another browser.
workstation_blacklisted_packages_pt_to_sandbox:
  - ['lxc', 'lxc-libs', 'liblxc-common']  # lxcbr0
  - apport  # Protect kernel.core_pattern on Debian/Ubuntu!
  - barrier
  - bottles
  - chromium
  - chromium-codecs-ffmpeg  # Ubuntu
  - chromium-codecs-ffmpeg-extra
  - clementine
  - firefox
  - firefox-langpacks  # Fedora
  - gimp
  - steam
  - wine
  - xclip  # wl-clipboard

workstation_blacklisted_packages_pt_office:
  - evince
  - evince-common
  - evolution
  - evolution-common
  - evolution-langpacks
  - "{{ ['@libreoffice'] if (ansible_facts.os_family == 'RedHat') else [] }}"
  - libreoffice
  - libreoffice-common
  - libreoffice-core
  - libreoffice-data
  - libreoffice-opensymbol-fonts
  - libreoffice-ure-common
  - libreofficekit-data

# RedHat/Fedora installer components - unnecessary on an installed system most of the time.
workstation_blacklisted_packages_pt_anaconda:
  - anaconda
  - anaconda-core
  - anaconda-gui
  - anaconda-live
  - anaconda-tui
  - anaconda-webui  # requires Firefox
  - kdump-anaconda-addon
