---
- name: "Gather missing facts subset {{ facts_subset_missing | join(',') }}"
  when: "facts_subset_missing | length > 0"
  ansible.builtin.setup:
    gather_subset: "{{ facts_subset_missing_explicit }}"
    filter: "{{ facts_filter }}"

# The current facts_gathered_subset now includes the last call of ansible.builtin.setup
# unless it was filtered (then ansible_facts.gather_subset was not set).
# This task always runs so role dependencies are completed.
- name: Update facts_gathered_subset_cache
  ansible.builtin.set_fact:
    facts_gathered_subset_cache: "{{ facts_gathered_subset }}"
    cacheable: true
