---
# ansible_facts.gather_subset contains the last call of ansible.builtin.setup (unless filtered),
# including implicit and "smart" gathering controlled by playbooks and ansible config.
# This task always runs so role dependencies are always completed.
- name: Set previously gathered subset
  ansible.builtin.set_fact:
    facts_gathered_subset_cache: "{{ (facts_gathered_subset_cache | default([])
      + ansible_facts.gather_subset | default([]) | reject('in', ['!all', '!min'])) | unique | sort }}"
    cacheable: true

- name: "Gather missing subset - {{ facts_subset_list | join(',') }}"
  when: facts_subset_missing is truthy
  ansible.builtin.setup:
    gather_subset: "{{ facts_subset_missing_explicit }}"
    filter: "{{ facts_filter }}"

- name: Set newly gathered subset
  when: facts_subset_missing is truthy and facts_filter is not truthy
  ansible.builtin.set_fact:
    facts_gathered_subset_cache: "{{ (facts_gathered_subset_cache + facts_subset_missing) | unique | sort }}"
    cacheable: true
