---
# Use facts_previously_gathered_subset for the very first time to support implicit gathering.
- name: Set previously gathered subset
  when: facts_gathered_subset_cache is not defined
  ansible.builtin.set_fact:
    facts_gathered_subset_cache: "{{ facts_previously_gathered_subset | sort }}"
    cacheable: true

- name: "Gather missing subset - {{ facts_subset | sort | join(',') }}"
  when: facts_subset_missing is truthy
  ansible.builtin.setup:
    gather_subset: "{{ facts_subset_missing_explicit }}"
    filter: "{{ facts_filter }}"
    fact_path: "{{ facts_path | default(omit, true) }}"
    gather_timeout: "{{ facts_timeout }}"

- name: Set newly gathered subset
  when: facts_subset_missing is truthy and facts_filter is not truthy
  ansible.builtin.set_fact:
    facts_gathered_subset_cache: "{{ (facts_gathered_subset_cache + facts_subset_missing) | sort }}"
    cacheable: true
