---
- name: Systemd and networkd setup tasks
  tags: [systemd]
  block:
    - name: Systemd setup tasks
      when: not systemd_disabled
      ansible.builtin.include_tasks:
        file: systemd.yml

    - name: Systemd-networkd setup tasks
      when: not systemd_disabled and systemd_networkd_enabled
      ansible.builtin.include_tasks:
        file: systemd-networkd.yml

    - name: Systemd role completed
      ansible.builtin.assert:
        that: true
        quiet: true
