---
- name: Flatten package list variables
  ansible.builtin.set_fact:
    baselinux_extra_packages: "{{ baselinux_extra_packages | flatten }}"
    baselinux_blacklisted_packages: "{{ baselinux_blacklisted_packages | flatten }}"

- name: Ensure blacklisted packages are removed
  ansible.builtin.package:
    name: "{{ baselinux_blacklisted_packages | flatten }}"
    state: "absent"

- name: Ensure extra packages are installed
  ansible.builtin.package:
    name: "{{ baselinux_extra_packages | difference(baselinux_blacklisted_packages) }}"
    state: "present"

- name: "[Un]install QEMU guest agent"
  ansible.builtin.package:
    name: "qemu-guest-agent"
    state: "{{ 'present' if ansible_facts.virtualization_type in ['kvm', 'xen']
      and ansible_facts.virtualization_role == 'guest' else 'absent' }}"

- name: "[Un]install VMWare guest agent"
  ansible.builtin.package:
    name: "open-vm-tools"
    state: "{{ 'present' if ansible_facts.virtualization_type == 'VMware'
      and ansible_facts.virtualization_role == 'guest' else 'absent' }}"

- name: Ensure baselinux_absent_paths are deleted
  ansible.builtin.file:
    path: "{{ item }}"
    state: "absent"
  with_items: "{{ baselinux_absent_paths }}"

- name: Create system symlinks
  ansible.builtin.file:
    src: "{{ item.value }}"
    dest: "{{ item.key }}"
    force: true
    state: "link"
  with_dict: "{{ baselinux_symlinks }}"

- name: Emulate iptables with nft alternatives
  when: baselinux_iptables_nft_alternatives
  block:
    - name: Ensure iptables-nft and nftables are installed
      ansible.builtin.package:
        name:
          - "{{ 'iptables-nft' if ansible_facts.os_family == 'RedHat' else 'iptables' }}"
          - "nftables"
        state: "present"

    # Subcommands (restore, save, etc) are automatic.
    - name: Configure iptables alternatives
      community.general.alternatives:
        name: "{{ item }}"
        link: "/usr/sbin/{{ item }}"
        path: "/usr/sbin/{{ item }}-nft"
      with_items:
        - iptables
        - ip6tables

- name: Trust configured certificate authorities
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ baselinux_ca_trust_anchors_path }}/{{ item | basename | regex_replace('\\.(pem|crt)$', '')
      }}.{{ baselinux_ca_trust_anchors_extension }}"
    owner: "root"
    group: "root"
    mode: "0644"
  with_items: "{{ baselinux_ca_trust_anchors }}"
  notify: "Update CA trust"

- name: Remove blacklisted certificate authorities
  ansible.builtin.file:
    path: "{{ item }}"
    state: "absent"
  with_items: "{{ baselinux_ca_trust_anchors_blacklisted_paths }}"
  notify: "Update CA trust"
