---
- name: Dotfiles tasks
  tags: [dotfiles]
  block:
    - name: Include tasks for dotfiles users
      when: not dotfiles_disabled
      ansible.builtin.include_tasks:
        file: dotfiles-user.yml
      loop: "{{ dotfiles_users | unique }}"
      loop_control:
        loop_var: _dotfiles_user_item_var  # use as dotfiles_user_item

    - name: Dotfiles role completed
      ansible.builtin.assert:
        that: true
        quiet: true
