# shellcheck shell=sh
{% if shell_environment %}

{% for key, value in shell_environment.items() %}
export {{ key | quote }}={{ value | quote }}
{% endfor %}
{% endif %}
{% if shell_search_paths %}

# shellcheck disable=SC2043,SC2066 # run once / double quote word split
for i in {{ shell_search_paths | join(' ') }}; do
    if [ -d "$i" ]; then
        case ":${PATH}:" in
            *:"$i":*)
                ;;
            *)
                PATH="${i}:${PATH}"
                ;;
        esac
    fi
    unset i
done

export PATH
{% endif %}
