---
- name: CloudFlare DNS tasks
  tags: [cloudflare-dns]
  block:
    - name: Include CloudFlare DNS tasks on the ansible controller
      when: cloudflare_dns_zone is defined and cloudflare_dns_zone is truthy
      ansible.builtin.include_tasks:
        file: cloudflare-dns.yml
        apply:
          connection: local
          become: false

    - name: CloudFlare role completed
      ansible.builtin.assert:
        that: true
        quiet: true
