---
- name: Unix users tasks
  tags: [users]
  block:
    - name: Import unix users tasks
      ansible.builtin.import_tasks:
        file: users.yml

    - name: Users role completed
      ansible.builtin.assert:
        that: true
        quiet: true
