---
- name: Configure unix groups
  ansible.builtin.group:
  args: "{{ item }}"
  with_items: "{{ users_groups_list }}"

- name: Configure unix users
  ansible.builtin.user:
  args: "{{ item }}"
  with_items: "{{ users_list }}"

- name: Allow passwordless sudo for the specified groups
  when: "users_sudo_nopasswd_groups | length > 0"
  ansible.builtin.copy:
    content: |
      {% for group in users_sudo_nopasswd_groups %}
      %{{ group }} ALL=(ALL) NOPASSWD: ALL
      {% endfor %}
    dest: "/etc/sudoers.d/nopasswd_groups"
    owner: "root"
    mode: "0440"
    validate: "visudo -csf %s"
