Port {{ ssh_port }}
AuthenticationMethods {{ ssh_auth_methods }}
{% if ssh_allow_users %}
AllowUsers {{ ssh_allow_users | join(' ') }}
{% endif %}
{% if ssh_allow_groups %}
AllowGroups {{ ssh_allow_groups | join(' ') }}
{% endif %}

{% if ssh_harden_crypto %}
Ciphers {{ ssh_harden_crypto_ciphers | flatten | join(',') }}
MACs {{ ssh_harden_crypto_macs | flatten | join(',') }}
KexAlgorithms {{ ssh_harden_crypto_kex_algos | flatten | join(',') }}
HostKeyAlgorithms {{ ssh_harden_crypto_host_key_algos | flatten | join(',') }}
RekeyLimit 1G 1h

{% endif %}
{% for item in ssh_host_keys %}
HostKey {{ item }}
{% endfor %}

LogLevel {{ ssh_server_log_level }}
Subsystem sftp {{ ssh_sftp_subsystem }}
UsePAM yes
UseDNS no
{% if ssh_server_config_extra %}

{{ ssh_server_config_extra -}}
{% endif %}
