{# Variables:
containerhost_service_vars['image']: container image URL
containerhost_service_vars['runtime_options']: [ list of podman run options ]
containerhost_service_vars['labels']: { dict of labels - e.g. io.containers.autoupdate: registry|local }
containerhost_service_vars['environment']: { dict of env vars - HOST_ prefix is not exposed }
containerhost_service_vars['exec_start_pre']: [ list of commands to execute before starting ]
containerhost_service_vars['exec_start_post']: [ list of commands to execute after starting ]
containerhost_service_vars['command']: optional command string
containerhost_service_vars['unit_options']: [ list of systemd unit options ]
containerhost_service_vars['restart']: systemd restart policy
containerhost_service_vars['restart_sec']: service restart seconds
containerhost_service_vars['timeout_stop_sec']: stop timeout seconds
#}
[Unit]
After=network-online.target
Wants=network-online.target
RequiresMountsFor=%t/containers
{% for item in containerhost_service_vars.unit_options | default([]) | flatten %}
{{ item }}
{% endfor %}

[Service]
{% for key, value in (containerhost_service_vars.environment | default({})).items() %}
Environment={{ (key + '=' + value | string) | quote }}
{% endfor %}
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart={{ containerhost_service_vars.restart | default('on-failure') }}
RestartSec={{ containerhost_service_vars.restart_sec | default(10) }}
TimeoutStopSec={{ containerhost_service_vars.timeout_stop_sec | default(70) }}
{% for item in containerhost_service_vars.exec_start_pre | default([]) | flatten %}
ExecStartPre={{ item }}
{% endfor %}
ExecStart={{ containerhost_runtime }} run \
    --name=%N \
    --replace \
    --detach \
    --cgroups=no-conmon \
{% for item in containerhost_service_vars.runtime_options | default([]) | flatten %}
    {{ item }} \
{% endfor %}
{% for key, value in (containerhost_services_labels | combine(containerhost_service_vars.labels | default({}))).items() %}
    --label={{ (key + '=' + value | string) | quote }} \
{% endfor %}
{% for item in (containerhost_service_vars.environment | default({})).keys() %}
{% if not item.startswith('HOST_') %}
    --env={{ item }} \
{% endif %}
{% endfor %}
    {{ containerhost_service_vars.image
}}{% if 'command' in containerhost_service_vars %} \
    {{ containerhost_service_vars.command | indent(4)
}}{% endif %}

{% for item in containerhost_service_vars.exec_start_post | default([]) | flatten %}
ExecStartPost={{ item }}
{% endfor %}
ExecStop={{ containerhost_runtime }} stop -i %N
Type=forking

[Install]
WantedBy=multi-user.target
