---
- name: Set podman-kube item loop vars
  ansible.builtin.set_fact:
    _podman_kube_file_path: "{{ [podman_kube_base_path, podman_kube_item.path] | path_join }}"
    _podman_kube_copy_results: null  # Reset previous iteration.

- name: Copy static files for the kube item
  when: podman_kube_item.files is defined
  block:
    # Do not set permissions as they could be changed by the service.
    - name: "Ensure directories exist for podman-kube {{ podman_kube_item.path }}"
      ansible.builtin.file:  # noqa: risky-file-permissions
        path: "{{ item }}"
        state: "directory"
      with_items: "{{ podman_kube_item.files | map(attribute='dest') | map('dirname') | unique }}"

    - name: "Copy static files for podman-kube {{ podman_kube_item.path }}"
      ansible.builtin.copy:
      args: "{{ item }}"
      with_items: "{{ podman_kube_item.files }}"
      register: _podman_kube_copy_results

- name: "Run init script for podman-kube {{ podman_kube_item.path }}"
  when: podman_kube_item.init_script is defined
  ansible.builtin.shell: |
    set -euxo pipefail
    {{ podman_kube_item.init_script }}
  args:
    # White lie to only execute once before installing.
    creates: "{{ _podman_kube_file_path }}"
    executable: "/bin/bash"

- name: "Ensure directory for podman-kube spec {{ podman_kube_item.path }}"
  ansible.builtin.file:
    path: "{{ _podman_kube_file_path | dirname }}"
    state: "directory"
    # owner: ansible_user or root
    mode: "0755"

- name: "Install podman-kube spec {{ podman_kube_item.path }}"
  ansible.builtin.copy:
    content: "{{ podman_kube_item.spec if podman_kube_item.spec is string
      else podman_kube_item.spec | to_nice_yaml }}"
    dest: "{{ _podman_kube_file_path }}"
    # owner: ansible_user or root
    mode: "0644"
  register: _podman_kube_spec_result

- name: "Restart podman-kube {{ podman_kube_item.path }}"
  ansible.builtin.systemd:
    name: "{{ lookup('oszi.general.systemd_escape', _podman_kube_file_path, template=podman_kube_template_service) }}"
    scope: "{{ podman_kube_systemd_scope }}"
    daemon_reload: "{{ _podman_kube_changed }}"
    state: "{{ 'restarted' if _podman_kube_changed else 'started' }}"
    enabled: true
  vars:
    _podman_kube_changed: "{{ _podman_kube_spec_result.changed
      or _podman_kube_copy_results is not none and _podman_kube_copy_results.changed }}"

- name: "Run post-install script for podman-kube {{ podman_kube_item.path }}"
  when: _podman_kube_spec_result.changed and podman_kube_item.post_install_script is defined
  ansible.builtin.shell: |
    set -euxo pipefail
    {{ podman_kube_item.post_install_script }}
  args:
    executable: "/bin/bash"
  changed_when: true
