---
- name: "Set item loop vars for podman-kube {{ podman_kube_item.name }}"
  ansible.builtin.set_fact:
    _podman_kube_file_path: "{{ [podman_kube_base_path, podman_kube_item.path] | path_join }}"
    _podman_kube_copy_results: null  # Reset previous iteration.

- name: "Set service loop vars for podman-kube {{ podman_kube_item.name }}"
  ansible.builtin.set_fact:
    _podman_kube_service: "{{ lookup('oszi.general.systemd_escape', _podman_kube_file_path,
      template=podman_kube_template_service) }}"
    _podman_kube_service_enabled: "{{ podman_kube_item.state | default('present') == 'present' }}"

- name: "Include tasks for podman-kube {{ podman_kube_item.name }}"
  ansible.builtin.include_tasks:
    file: "kube-{{ 'absent' if podman_kube_item.state | default('present') == 'absent'
      else 'present' }}.yml"  # present / present_disabled
