---
- name: "Check podman-kube spec {{ podman_kube_item.path }}"
  ansible.builtin.stat:
    path: "{{ podman_kube_spec_path }}"
  register: _podman_kube_spec_result

- name: Uninstall podman-kube item
  when: _podman_kube_spec_result.stat.exists
  block:
    - name: "Disable systemd service for podman-kube {{ podman_kube_item.path }}"
      ansible.builtin.systemd:
        name: "{{ podman_kube_service }}"
        scope: "{{ podman_kube_systemd_scope }}"
        state: "stopped"
        enabled: false

    - name: "Run uninstall script for podman-kube {{ podman_kube_item.path }}"
      when: podman_kube_item.uninstall_script is defined
      ansible.builtin.shell: |
        set -euxo pipefail
        {{ podman_kube_item.uninstall_script }}
      args:
        executable: "/bin/bash"
      changed_when: true

    - name: "Remove podman-kube spec {{ podman_kube_item.path }}"
      ansible.builtin.file:
        path: "{{ podman_kube_spec_path }}"
        state: "absent"

- name: "Remove static files for podman-kube {{ podman_kube_item.path }}"
  when: podman_kube_item.files is defined
  ansible.builtin.file:
    path: "{{ item.dest }}"
    state: "absent"
  with_items: "{{ podman_kube_item.files }}"
