---
- name: Podman-kube tasks
  tags: [podman, podman-kube]
  block:
    - name: Install podman-kube pods
      ansible.builtin.include_tasks:
        file: kube-pod.yml
      loop: "{{ podman_kube_pods | dict2items }}"
      loop_control:
        loop_var: podman_kube_pod_item

    - name: Podman-kube role completed
      ansible.builtin.debug:
        msg: prevent-multiple-inclusions
      no_log: true
