---
# include_role: name=oszi.general.flatpak tasks_from=update
# See oszi/general/playbooks/update.yml

- name: Update flatpak packages
  ansible.builtin.shell: |
    set -euo pipefail
    if flatpak --version >/dev/null 2>&1; then
      flatpak update --assumeyes --noninteractive --{{ flatpak_method }}
    else
      echo "Nothing to do - flatpak missing"
    fi
  args:
    executable: "/bin/bash"
  register: _flatpak_update_result
  changed_when: "'Nothing to do' not in _flatpak_update_result.stdout"
