# ansible managed
# dirmngr.conf - Options for Dirmngr

# --keyserver URI
#
# GPG can send and receive keys to and from a keyserver.  These
# servers can be HKP, Email, or LDAP (if GnuPG is built with LDAP
# support).
#
# Example HKP keyservers:
#      hkp://keys.gnupg.net
#
# Example HKPS keyservers (see --hkp-cacert below):
#       hkps://hkps.pool.sks-keyservers.net
#
# Example LDAP keyservers:
#      ldap://pgp.surfnet.nl:11370
#
# Regular URL syntax applies, and you can set an alternate port
# through the usual method:
#      hkp://keyserver.example.net:22742
{% if dotfiles_gnupg_dirmngr_keyserver is not none %}

keyserver {{ dotfiles_gnupg_dirmngr_keyserver }}
{% endif %}

# --hkp-cacert FILENAME
#
# For the "hkps" scheme (keyserver access over TLS), Dirmngr needs to
# know the root certificates for verification of the TLS certificates
# used for the connection.  Enter the full name of a file with the
# root certificates here.  If that file is in PEM format a ".pem"
# suffix is expected.  This option may be given multiple times to add
# more root certificates.  Tilde expansion is supported.
{% if dotfiles_gnupg_dirmngr_hkp_cacert is not none %}

hkp-cacert {{ dotfiles_gnupg_dirmngr_hkp_cacert }}
{% endif %}
