# ansible managed
{% if dotfiles_gnupg_default_key is not none %}
default-key {{ dotfiles_gnupg_default_key }}
default-recipient-self
{% endif %}
charset utf-8
keyid-format long
require-cross-certification
no-emit-version
no-greeting
use-agent
{{ dotfiles_gnupg_extra_options | join('\n') }}
