# ansible managed
{% if dotfiles_gnupg_default_key is not none %}
default-key {{ dotfiles_gnupg_default_key }}
default-recipient-self
{% endif %}
keyid-format long
charset utf-8
no-greeting
{{ dotfiles_gnupg_extra_options | join('\n') }}
