# ansible managed
{% if dotfiles_gnupg_scdaemon_reader_port is not none %}
reader-port {{ dotfiles_gnupg_scdaemon_reader_port }}
{% endif %}
{% if dotfiles_gnupg_scdaemon_pcsc_shared %}
pcsc-shared
{% endif %}
{% if dotfiles_gnupg_scdaemon_disable_ccid %}
disable-ccid
{% endif %}
