---
# Use this reload handler from other roles.
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart systemd-networkd
  ansible.builtin.systemd:
    name: "systemd-networkd"
    state: "restarted"
    daemon_reload: true
    enabled: true

- name: Restart systemd-resolved
  ansible.builtin.systemd:
    name: "systemd-resolved"
    state: "restarted"
    daemon_reload: true
    enabled: true
