# shellcheck shell=sh

{% if ansible_os_family != 'RedHat' %}
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
    alias xzgrep='xzgrep --color=auto'
    alias zgrep='zgrep --color=auto'
fi
{% else %}
# /etc/profile.d/colorls.sh
# /etc/profile.d/color*grep.sh
{% endif %}
